<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Redirect all requests to public/index.php -->
        <rule name="Imported Rule 1" stopProcessing="true">
          <match url="^(.*)/$" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="/{R:1}" />
        </rule>
        <rule name="Imported Rule 2" stopProcessing="true">
          <match url="^" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Rewrite" url="public/index.php" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Set document root to public folder -->
    <defaultDocument>
      <files>
        <clear />
        <add value="public/index.php" />
        <add value="index.php" />
      </files>
    </defaultDocument>
    
    <!-- Security: Hide .env and other sensitive files -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment=".env" />
          <add segment=".git" />
          <add segment="storage" />
          <add segment="bootstrap/cache" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    
    <!-- Enable static file handling -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    
    <!-- PHP FastCGI settings -->
    <handlers>
      <remove name="PHP_via_FastCGI" />
      <add name="PHP_via_FastCGI" 
           path="*.php" 
           verb="GET,POST,PUT,DELETE,PATCH,OPTIONS" 
           modules="FastCgiModule" 
           scriptProcessor="D:\Program Files (x86)\PHP\v8.2\php-cgi.exe" 
           resourceType="Either" 
           requireAccess="Script" />
    </handlers>
  </system.webServer>
</configuration>
